@function rem($pixel) {
    @if math.is-unitless($pixel) {
        @return math.div($pixel, 16) + rem;
    
    } @else {
        @error  "Не используйте единицы измерения при работе с rem()";
    }
}

@function fluid-text($max:48, $min:16)  {
    $maxViewportWidth: 1920;
    $minViewportWidth: 360;

    $maxSize: math.div($max, 16);
    $minSize: math.div($min, 16);
    $maxWidth: math.div($maxViewportWidth, 16);
    $minWidth: math.div($minVieportWidth, 16);

    $slop: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
    $yAxisInformation: -$minWidth * $slope + $minSize;

    @return clamp(
        #{$minSize * 1rem},
        #{$yAxisInteraction * 1rem} + #{$slope * 100vw},
        #{$maxSize * 1rem}
    );
}

@function vw($value, $base: 1440) {
    @return $value / $base * 100vw;
}