@use 'variables' as v;
@use 'functions' as *;
@use 'sass:math';


@mixin fluid-text($max: 48, $min: 16)  {
    font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
}

@mixin fonts($font-family, $font-weigth, $font-style, $line-hight, $letter-spasing) {
    font-family: $font-family;
    font-weight: $font-weigth;
    font-style: $font-style;
    line-height: $line-hight;
    letter-spacing: $letter-spasing;
}

@function rem($pixel) {
    @return math.div($pixel, 16) * 1rem;
}

.header__dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 8px 12px;
    transition: all 0.3s ease;
    @include fonts('Poppins', 500, normal, 1, 0);
    @include fluid-text(16, 14);
    color: v.$color-white55;

    
    &:hover {
        opacity: 0.8;
    }
}

.toggle-arrow {
    display: inline-block;
    width: 18px;
    height: 18px;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    border-radius: 4px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    margin-top: 8px;
    
    &.active {
        max-height: 300px;
        opacity: 1;
    }
}

.dropdown-item {
    display: block;
    padding: 12px 16px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.2s ease;
    
    &:hover {
        background-color: #f0f0f0;
    }
    
    &:first-child {
        border-radius: 4px 4px 0 0;
    }
    
    &:last-child {
        border-radius: 0 0 4px 4px;
    }
}

.container  {
    max-width: 85%;
    padding-top: rem(26);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
}

.logo {
    max-width: 150px;
    height: 38px;
    margin-right: 50px;
}

.logo__name {
    font-family: 'Poppins';
    font-weight: 600;
    @include fluid-text(22, 20);
    line-height: 1;
    letter-spacing: 0;
    color: v.$color-white;
    display: inline-block;
    padding-left: 12px;
    padding-top: 6px;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 33px;
}


.link {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    @include fluid-text(16, 14);
    color: v.$color-white55;
    line-height: 2;
    letter-spacing: 0;
    position: relative;

    &:hover {
        opacity: 0.8;
        cursor: pointer;

        &::after {
            width: 100%;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;
        width: 0;
        height: 2px;
        background-color: currentColor;
        transition-duration: 0.2s;
    }
}

.registration {
    
    &__login {
        @include fonts('Poppins', 600, normal, 1, 0);
        @include fluid-text(16, 14);
        color: rgba(255, 255, 255, 0.78);
        margin-right: 41px;
    }

    &__signup {
        width: 118px;
        height: 48px;
        display: inline-block;
        text-align: center;
        background-color: v.$color-accent;
        border-radius: 8px;
        @include fonts('Poppins', 600, normal, 48px, 0 );
        color: #FDF5FF;
        @include fluid-text(16, 14);
    }
}

.registration__login:hover {
    opacity: 0.8;
}

.registration__signup:hover {
    opacity: 0.8;
}

.header__hero {
    display: flex;
    gap: 140px;

    &--content {
        padding-top: 46px;
        margin-left: 111px;
    }
}

.header__hero-title {
    @include fonts('Poppins', 500, normal, 1.4, 0);
    @include fluid-text(50, 45);
    color: rgba(255, 255, 255, 0.9);
    max-width: 600px;
    margin-bottom: 30px;

    span {
        color: v.$color-accent;
    }
}

.header__hero-subtitle {
    @include fonts('Poppins', 400, normal, 1.7, 0);
    @include fluid-text(18, 16);
    color: rgba(255, 255, 255, 0.55);
    max-width: 490px;
    margin-bottom: 60px;
}

.header__form {
    position: relative;
    width: rem(498);
    height: rem(64);
    padding: 8px 11px 8px 13px;
    background-color: #283036;
    border-radius: 15px;
    margin-bottom: rem(110);

    label img {
        padding-top: 10px;
        margin-right: 10px;
    }
}

.header__form::before {
    content: '';
    position: absolute;
    top: -1.5px;
    left: -1.5px;
    right: -1.5px;
    bottom: -1.5px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: inherit;
    z-index: -1;
}

.hero__input {
    height: stretch;
    width: rem(300);
}

.hero__input::placeholder {
    color: rgba(255, 255, 255, 0.38);
}

.header__form-btn {
    width: rem(130);
    height: stretch;
    background-color: v.$color-accent;
    border-radius: 8px;
    color: v.$color-white;
    @include fonts('Poppins', 600, normal, 1, 0);

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.header__social-network {
    display: flex;
    gap: rem(12);
}
.tools {
    padding-top: rem(200);
    padding-bottom: rem(100);
    width: stretch;

     &__content {
        max-width: rem(455);
        margin-inline: auto;
     }
}

.tools__content-title {
    text-align: center;
    @include fonts('Poppins', 500, normal, 1.3, 0);
    color: rgba(255, 255, 255, 0.9);
    @include fluid-text(48, 44);
    margin-bottom: rem(25);
}

.tools__content-subtitle {
    text-align: center;
    @include fonts('Poppins', 500, normal, 1.7, 0);
    color: rgba(255, 255, 255, 0.55);
    @include fluid-text(18, 16);
    margin-bottom: rem(90);
}

.tools__card-galary {
    width: 84%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: rem(100);
    column-gap: rem(24);
    margin-bottom: rem(100);
}

.tool__card {
    padding-top: rem(53);
    padding-left: rem(30);
    padding-right: rem(30);
    border-radius: 15px;
    transition: all 0.2s ease;
}

.tool__card:hover {
    padding-top: 33px;
    background-color: rgba(40, 48, 54, 0.6);
    background-image: url(../images/bg/sketch.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}


.card__top {
    display: flex;
    align-items: center;
    gap: rem(30);
    margin-bottom: rem(31);
}

.text__box-title {
    @include fonts('Poppins', 500, normal, 1, 0);
    @include fluid-text(24, 20);
    color: rgba(255, 255, 255, 0.78);
    margin-bottom: rem(3);
}

.text__box-properties {
    @include fonts('Poppins', 400, normal, 1, 0);
    @include fluid-text(18, 16);
    color: rgba(255, 165, 55, 0.55);
}

.card__subtitle {
    @include fonts('Poppins', 400, normal, 1.9, 0);
    @include fluid-text(16, 14);
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: rem(30);
}

.card__interactive {
    display: flex;
    align-items: center;
    gap: rem(12);
}

.visit {
    display: block;
    @include fonts('Poppins', 600, normal, 1, 0);
    @include fluid-text(16, 14);
    color: rgba(255, 255, 255, 0.55);
    margin-left: rem(159);
}

.visit:active {
    display: block;
    width: rem(106);
    height: rem(42);
    background-color: v.$color-accent;
    border-radius: 8px;
    color: v.$color-white;
    @include fonts('Poppins', 600, normal, 2.5, 0);
    @include fluid-text(16, 14);
    text-align: center;
}

.tools__btn {
    display: block;
    width: rem(184);
    height: rem(64);
    background-color: rgba(30, 37, 43, 1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-inline: auto;
    @include fonts('Poppins', 500, normal, 1, 0);
    color: rgba(255, 110, 48, 1);
    @include fluid-text(20, 18);
}
        
