@use 'reset';
@use 'variables';
@use 'mixin';
@use 'functions';
@use 'base'; 
@use 'header';
@use 'main';
@use 'footer';

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-SemiBold.woff) format('woff');
    src: url(../fonts/Poppins-SemiBold.woff2) format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Medium.woff) format('woff');
    src: url(../fonts/Poppins-Medium.woff2) format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}